*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    font-family: 'Open Sans', sans-serif;   
  height: 175%;
  margin: 0;
  padding: 0;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #79a0c3;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/*header*/

header{
    width: 100%;
    height: 500px;
    background: #8acbdd;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bcddef8c, #9debe26f), url(../img/fondo.webp);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bcddef8c, #9debe26f), url(../img/fondo.webp); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
}

nav > a:hover{ /*cuando se le pasa el mouse*/
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header .textos-header h1{
    font-size: 50px;
    color: #fff;
}

header .textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;

}
/*about us*/
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;

}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;   
    text-align: center;
}

.contenido-textos h3 span{
    background: #7ba8c9;
    color: #fff;
    border-radius: 50%; /*redondo*/
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5); 
    margin-right: 5px;/*separal el circulo del texto*/
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: center;
}

.contenido-textos button{
    background: #7ba8c9;
    color: #fff;
    border-radius: 10%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100px; /* Ancho del botón */
    height: 40px; /* Alto del botón */
}
.boton{
    display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
}

.container-tabla{
  height: 100%;
  display: flex;
}

.blue-section {
    background-color: #8acbdd;;
    flex: 1;
    background: #8acbdd;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bcddef8c, #9debe26f), url(../img/fondo.webp);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bcddef8c, #9debe26f), url(../img/fondo.webp); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
}

.transparent-section {
  flex: 1;      
}


